* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --tt-heading:#0C3440;
   
    --tt-label:#00453A;
    --tt-input:#212529;
    --ot--input:#02799D;
    --bd-input:rgba(106, 110, 113, 0.3);
    --tt-placeholder:rgba(73, 80, 87, 0.5);
    
    --tt-button:white;
    --bg-button:#02799D;

    --bg-error:#F03E3E;
    --tt-error:white;
}

body {
    background: #030223;
    font-family: 'Roboto', sans-serif;
}

body, input, button {
    font-size: 1.6rem;

}

.container {
    display: grid;
    place-content: center;
    height: 100vh;
}

.card { 
   max-width: 43rem;
   margin-inline: auto;
    background: white;
    border-radius: 6px;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem ;
    box-shadow: 0 .2rem .4rem rgba(0,0,0,0.1);
   
}

.tittle h1 {
    color: var(--tt-heading);
    font-weight: 700;
    line-height: 4rem;
}

form h1 {
    margin-bottom: 3.2rem;

}

label {
    color: var(--tt-label);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8rem;
    width: 100%;
    margin-top:8px;
}

input {
    width: 30rem;
    height: 5.2rem;
    border-radius: 4px;
    border: solid var( --bd-input) 1px;
    background:var( --bd-input) ;
    padding: 1.6rem;
    margin-top: 8px;
    color: var(--tt-input);

}

.input-wrapper + .input-wrapper {
    margin-top: 1.6rem;
}

input:focus {
    outline:solid 2px var( --ot--input) ;
}

input::placeholder {
   color: var( --tt-placeholder);

}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    margin-top: 3.2rem;

    width: 30rem;
    height: 5.2rem;
    border-radius: 4px;

    background:var( --bg-button) ;
    color: var(--tt-button);
    border: none;

    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
transition: background .3s;
}

form button:hover {
    background: #00709F;

    
}

/* modal */
.modal-wrapper.open{
opacity: 1;
visibility: visible;
}
.modal-wrapper {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);

    display: grid;
    place-content: center;

    opacity: 0;
    visibility: hidden;

}
.modal {
    position: relative;
}
.modal button {
    background: none;
    border: none;

    position: absolute;
    top:1rem;
 right: 1rem;

 cursor: pointer;
 transition: .3s;
}

.modal button:hover{
    transform: scale(1.1);
}

/* alerte error*/

.alert-error.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.alert-error {
    position: absolute;
    background:var( --bg-error) ;
    right: 0;
    left: 0;
    text-align: center;
    color: var(--tt-error);
    padding: .8rem ;
    font-weight: bold;
opacity: 0;
    visibility: hidden;

 transform: translateY(-30px);
 transition: transform .6s;
}
